body{
    height: 100%;
    width: 100%;
    margin:0px !important;
}
.config-view{
    display: flex;
    flex-direction: row;
    border-style: none;        
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}
.config-menu{
    display: flex;
    flex-direction: column;    
    max-width: 250px;
    min-width: 150px;
    border-color: #d1d1d1;
    border-width: 0 1px 0 0;
    border-style: solid;
    color: var(--primary-color);
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
    overflow: auto;
    margin-right: 11px;
}
#config-content{
    display: flex;
    flex-grow: 1;
    margin-right: 5px;
    overflow: hidden;  
}



.config-content, #config-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;  
}
.config-actions{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    border-style: solid;
    border-width: 1px 0px 0 0;    
    border-color:  var(--secondary-background);
    padding: 6px 0px;
    height: 31px;
    margin: 5px 5px 0 0;
}


#device-list{
    flex-grow: 1;
    align-content: flex-start;   
}
#editor-device-trigger-panel, #editor-device-mqtt-panel, #editor-device-mqtt-frequency-container{
    display: none;
}
#editor-certificate-upload{
    margin: 10px;
    padding: 5px;
}

#pending-changes{
    color:rgb(181, 0, 0);
    visibility: hidden;
}
.content{
    border-style: none !important;
}

.fine{
    font-size: 10px;
    font-style: italic;
}