html, body{
    --primary-color: rgb(25, 25, 85);
    --primary-border: rgb(66, 80, 207);
    --primary-background: rgb(244, 245, 241);
    --secondary-color: rgb(160, 164, 182);
    --secondary-background: rgb(52, 52, 106);;
    --primary-control-color: rgb(5, 63, 22);
    --primary-control-background: rgb(255, 255, 255);
    --primary-button-color: rgb(2, 13, 24);
    --primary-button-background:  rgb(98, 252, 193);
    --secondary-button-color: rgb(237, 238, 239);
    --secondary-button-background: rgb(29, 142, 86);
    --secondary-button-background-hover: rgb(17, 99, 58);
    --modal-color: rgb(255, 255, 255);
--modal-background: rgba(3, 45, 9, 0.4);
    --modal-header-color: rgb(255, 255, 255);
    --modal-header-background: rgb(29, 142, 86);

    --primary-header-background: var(--primary-color); /* #86b92c; */
    --primary-header-color: var(--primary-background); /* #fff; */
    --primary-footer-background: var(--primary-color); /* #8ebd54; */
    --primary-footer-color: var(--primary-background); /* #fff; */
 
}