html, body{
    --primary-color: #191955;
    --primary-border: rgb(66, 80, 207);
    --primary-background: #f4f5f1;
    --secondary-color: #030b31;
    --secondary-background: #dfdff1;
    --primary-control-color: #053f16;
    --primary-control-background: #ffffff;
    --primary-button-color: #edeeef;
    --primary-button-background:  #0b2d64;
    --secondary-button-color: #edeeef;
    --secondary-button-background: #1d8e56;
    --secondary-button-background-hover: #11633a;
    --modal-color: #fff;
    --modal-background: rgba(3, 45, 9, 0.4);
    --modal-header-color: #fff;
    --modal-header-background: #1d8e56;

    --primary-header-background: var(--primary-color); /* #86b92c; */
    --primary-header-color: var(--primary-background); /* #fff; */
    --primary-footer-background: var(--primary-color); /* #8ebd54; */
    --primary-footer-color: var(--primary-background); /* #fff; */
 
}